@font-face {
  font-family: 'Geographic';
  src: url('../fonts/GeographWeb-Regular.woff2') format('woff2'), url('../fonts/GeographWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geographic';
  src: url('../fonts/GeographWeb-Light.woff2') format('woff2'), url('../fonts/GeographWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geographic';
  src: url('../fonts/GeographWeb-Medium.woff2') format('woff2'), url('../fonts/GeographWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}